src/Gmail emails classification.json
{
  "name": "Gmail emails classification",
  "nodes": [
    {
      "parameters": {
        "model": "mistralai/mistral-7b-instruct",
        "options": {}
      },
      "id": "65fba8ec-97cb-4e32-af26-64be0121fc36",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        784,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "njZT2M72dB8dWyVc",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3f92558e-32a6-4d34-9992-4e313aa01ddf",
      "name": "Aggregate Gmail Messages",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        32,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "4d8f3832-8571-4682-940c-eb9ddd5a5198",
      "name": "Merge Labels & Messages",
      "type": "n8n-nodes-base.merge",
      "position": [
        640,
        -96
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email classification assistant. Your task is to analyze Gmail email snippets and categorize them into one of the following labels:\n\n1. To respond - Emails requiring a direct personal response from you (questions from individuals, personal conversations, NOT automated feedback requests)\n2. FYI - Emails requesting you to take action, reminders, or alerts about issues (add money requests, payment failures, action needed)\n3. Comment - Emails specifically asking for your feedback, review, or opinion in a professional/collaborative context\n4. Notification - Automated updates about completed or ongoing events (successful payments, transfers sent, deployments, shipments, security alerts)\n5. Meeting update - Calendar invites, meeting changes, or meeting-related communications\n6. Awaiting reply - Follow-up emails or reminders about your pending responses\n7. Actioned - Confirmations of actions YOU specifically took (not automated system actions)\n8. Marketing - Promotional content, sales emails, feature announcements, newsletters, or automated customer feedback surveys\n\nKey classification rules:\n- Automated status updates (deployments, transfers, payments processed) → Notification\n- Requests to add money or take action → FYI\n- Payment failure alerts → FYI\n- Security alert digests → Notification\n- Shipment updates → Notification\n- Direct Debit payment confirmations → Notification\n- Balance update confirmations → Notification\n- Customer satisfaction surveys or feedback requests → Marketing\n- Automated \"how was your experience\" emails → Marketing\n- Only use \"Actioned\" for confirmations of YOUR manual actions\n- Only use \"Marketing\" for promotional content, including feedback surveys\n\nInstructions:\n1. Read the email snippet carefully\n2. Note the sender (if provided) for context\n3. Choose the single most appropriate label based on the rules above\n4. IMPORTANT: Respond ONLY with the number and label (e.g., \"2. FYI\")\n5. Do not include any other text, explanation, or repeat the email content\n\nEmail From:\n{{ $json.From }}\nEmail To:\n{{ $json.To }}\nEmail subject:\n{{ $json.Subject }}\nEmail snippet:\n{{ $json.snippet }}\n\nYour response must be exactly one of these 8 options:\n1. To respond\n2. FYI\n3. Comment\n4. Notification\n5. Meeting update\n6. Awaiting reply\n7. Actioned\n8. Marketing",
        "batching": {}
      },
      "id": "edbdef0a-6f80-4688-9d59-d70c7cf2ced8",
      "name": "Classify Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        912,
        -96
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 12
            }
          ]
        },
        "filters": {}
      },
      "id": "94030156-08b9-4904-88f3-064f5dc85d3b",
      "name": "New Gmail Email Received",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -176,
        -64
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "vJJR8XuKxbFaJEFe",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "id": "fb618713-fd4c-4919-8248-4427bf75c5bf",
      "name": "Fetch Available Gmail Labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        256,
        -192
      ],
      "webhookId": "8574ca24-b439-4bc3-aa28-ae2b539a8d8e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "vJJR8XuKxbFaJEFe",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst combinedObject = items.reduce((acc, item) => {\n  return { ...acc, [item.json.name]: item.json.id };\n}, {});\n\nreturn { combinedObject };\n"
      },
      "id": "fb4c925f-9361-4366-bf1e-0987623123ff",
      "name": "Map Label Names to IDs",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        -192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Merge Labels & Messages').item.json.id }}",
        "labelIds": "={{ $('Map Label Names to IDs').item.json.combinedObject[$json.labelClean] }}"
      },
      "id": "a0cf4e96-a9b6-46f3-a41d-9dfa657bced6",
      "name": "Apply Classification Label",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1424,
        -96
      ],
      "webhookId": "2ffe45e7-a0e3-4304-a6bf-e217c15ea6cc",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "vJJR8XuKxbFaJEFe",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const labelLine = $json.text || \"\";\nconst match = labelLine.match(/\\d+\\.\\s*(.*)/);\nreturn [{\n  labelClean: match ? match[1] : labelLine\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -96
      ],
      "id": "02bfeab2-38d5-48f3-9c8d-ac15e1643791",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email with AI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Label Names to IDs": {
      "main": [
        [
          {
            "node": "Merge Labels & Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Labels & Messages": {
      "main": [
        [
          {
            "node": "Classify Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Gmail Messages": {
      "main": [
        [
          {
            "node": "Fetch Available Gmail Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Gmail Email Received": {
      "main": [
        [
          {
            "node": "Aggregate Gmail Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Labels & Messages",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Available Gmail Labels": {
      "main": [
        [
          {
            "node": "Map Label Names to IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Apply Classification Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b001c4c8-b241-43e6-bcdc-ffc46cce1326",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84af019528a5fc6eb999b32c4cea8d446910c37c74751822f1f56a040486851b"
  },
  "id": "XUwlUupqd6Ju1JQs",
  "tags": []
}